{% extends "layout.html" %}

{% block title %}
Game
{% endblock %}

{% block main %}
    <div>
        <a href="/solo"><button>Solo</button></a>
        <a href="/1v1"><button>1v1</button></a>
    </div>
        <h3>Friends List</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total games</th>
                    <th>W/D/L</th>
                    <th>WR against</th>
                    <th>Invite to a game</th>
                </tr>
            </thead>
            <tbody>
                {% if friends %}
                    {% for friend in friends %}
                    <tr>
                        <td style="text-align: center">{{ friend.username }}</td>
                        <td style="text-align: center">{{ friend.total }}</td>
                        <td style="text-align: center">{{ friend.wins }}/{{ friend.draws }}/{{ friend.losses }}</td>         
                        <td style="text-align: center">{{ friend.winrate }}</td>
                        <td style="text-align: center"><button class="invite-btn" data-username="{{ friend.username }}">Invite</button></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">No friends added yet.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="summary" class="modal hidden">
        <div class="modal-content">
            <h2>Summary</h2>
            <p style="font-weight: bold"><span id="summary-start"></span>____<span id="summary-end"></span></p>
            <p><strong>Final score:</strong><span id="summary-score"></span></p>
            <p><strong>Guessed words:</strong></p>
            <ul id="summary-words"></ul>
            <button id="close">Close</button>
        </div>
    </div>

    <div id="summary-1v1" class="modal hidden">
        <div class="modal-content">
            <h2>Summary</h2>
            <p><strong>Result</strong><span id="result"></span></p>
            <p style="font-weight: bold"><span id="summary-start-1v1"></span>____<span id="summary-end-1v1"></span></p>
            <p><strong>Final score:</strong><span id="player-score"></span></p>
            <p><strong>Guessed words:</strong></p>
            <ul id="player-words"></ul>
            <p><strong>Opponent's score:</strong><span id="opponent-score"></span></p>
            <p><strong>Opponent's words:</strong></p>
            <ul id="opponent-words"></ul>
            <button id="close-1v1">Close</button>
        </div>
    </div>

    <script>
        $(".invite-btn").on("click", function () {
        const opponent = $(this).data("username");

        $.ajax({
            url: "/game_invite",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ opponent: opponent }),
            success: function (resp) {
                window.location.href = `/play/${resp.room_id}`;
            },
            error: function (xhr) {
                alert(xhr.responseJSON.message);
            }
        });
    });
    </script>

    {% endblock %}