{% extends "layout.html" %}

{% block title %}
{{ username }}
{% endblock %}

{% block main %}
<div>
    <div>
        <h3>Palyer Info</h3>
        <p id="username">{{ username }}</p>
        <p id="matches">{{ stats.versus }}</p>
        <p id="winrate">W:{{ stats.wins }} L:{{ stats.losses }} D: {{ stats.draws }} Winrate:{{ stats.winrate }}%</p>
        <p id="highscore">Highscore (1v1): {{ stats.highscore }} ({{ stats.highscore_versus }})</p>
    </div>
    <div>
        <div>
            <h3>Match history Solo</h3>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Letters</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% if solos %}
                        {% for solo in solos %}
                        <tr class="game-row" data-id="{{solo.id}}">
                            <td>{{ solo.date }}</td>
                            <td>{{ solo.start }}___{{ solo.end }}</td>
                            <td>{{ solo.score }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div>
            <h3>Match histori 1v1:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Letters</th>
                        <th>Opponent</th>
                        <th>Your Score</th>
                        <th>Opponents Score</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% if versus %}
                        {% for game in versus %}
                        <tr class="game-row2" data-match_id="{{game.match_id}}" data-user_id="{{game.user_id}}">
                            <td>{{ game.date }}</td>
                            <td>{{ game.start }}___{{ game.end }}</td>
                            <td>{{ opponent }}</td>
                            <td>{{ game.score }}</td>
                            <td>{{ game.opponent_score }}</td>
                            <td>{{ game.result }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div> 
        <h3>Achievements</h3>
        <h5>Used words {{ stats.word_count }}/{{ stats.valid }}</h5>
        <h6>Dictionary completion: {{ stats.completion }}%</h6>
    </div>
    <button onclick="addFriend('{{ username }}')">Add friend</button>
    <button id="invite-btn" data-username="{{ username }}">Invite to a game</button>
</div>


    <div id="summary" class="modal hidden">
        <div class="modal-content">
            <h2>Summary</h2>
            <p style="font-weight: bold"><span id="summary-start"></span>____<span id="summary-end"></span></p>
            <p><strong>Final score:</strong><span id="summary-score"></span></p>
            <p><strong>Guessed words:</strong></p>
            <ul id="summary-words"></ul>
            <button id="close">Close</button>
        </div>
    </div>

    <div id="summary-1v1" class="modal hidden">
        <div class="modal-content">
            <h2>Summary</h2>
            <p><strong>Result</strong><span id="result"></span></p>
            <p style="font-weight: bold"><span id="summary-start-1v1"></span>____<span id="summary-end-1v1"></span></p>
            <p><strong>Final score:</strong><span id="player-score"></span></p>
            <p><strong>Guessed words:</strong></p>
            <ul id="player-words"></ul>
            <p><strong>Opponent's score:</strong><span id="opponent-score"></span></p>
            <p><strong>Opponent's words:</strong></p>
            <ul id="opponent-words"></ul>
            <button id="close-1v1">Close</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".game-row").on("click", function () {
                const gameId = $(this).data("id");

                $.get(`/game/${gameId}`, function (data) {
                    $("#summary-start").text(data.start);
                    $("#summary-end").text(data.end);
                    $("#summary-score").text(data.score);
                    
                    $("#summary-words").empty();
                    for (let word of data.words) {
                        $("#summary-words").append(`<li>${ word }</li>`);
                    }
                
                    $("#summary").removeClass("hidden");
                });      
            });


            $("#close").on("click", function () {
                $("#summary").addClass("hidden");
            });

            $(".game-row2").on("click", function () {
                const matchId = $(this).data("match_id");
                const userId = $(this).data("user_id")

                $.get(`/match/${matchId}?viewer_id=${userId}`, function (data) {
                    $("#summary-start-1v1").text(data.start)
                    $("#summary-end-1v1").text(data.end)
                    $("#player-score").text(data.score)
                    $("#opponent-score").text(data.opponent_score)
                    
                    $("#player-words").empty();
                    for (let word of data.words) {
                        $("#player-words").append(`<li>${ word }</li>`)
                    }
                    
                    $("#opponent-words").empty();
                    for (let word of data.opponent_words) {
                        $("#opponent-words").append(`<li>${ word }</li>`)
                    }

                    if (data.score > data.opponent_score) {
                        $("#result").text("Win")
                    }
                    else if (data.score < data.opponent_score) {
                        $("#result").text("Loss")
                    }
                    else {
                        $("#result").text("Draw")
                    }

                    $("#summary-1v1").removeClass("hidden")
                });
            });

            $("#close-1v1").on("click", function () {
                $("#summary-1v1").addClass("hidden")
            });
        });

    function addFriend(username) {
        fetch("/friend_request", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ friend: username })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
        });
    }    

    $("#invite-btn").on("click", function () {
        const opponent = $(this).data("username");

        $.ajax({
            url: "/game_invite",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ opponent: opponent }),
            success: function (response) {
                alert(response.message);
            },
            error: function (xhr) {
                alert(xhr.responseJSON.message);
            }
        });
    });
    </script>
{% endblock %}