{% extends "layout.html" %}

{% block title %}
{{ username }}
{% endblock %}

{% block main %}
<div>
        <div class="player-stats-box chalk-card text-light mb-4 mt-3">
            <h2 class="text-center mb-3 mt-2">{{ username }}</h2>
            <div class="row text-center">
                <div class="col-sm"><strong>Total Matches:</strong> {{ stats.versus }}</div>
                <div class="col-sm"><strong>Wins: </strong>{{ stats.wins }} / <strong>Losses: </strong> {{ stats.losses }} / <strong>Draws: </strong> {{ stats.draws }}</div>
                <div class="col-sm"><strong>Winrate: </strong> {{ stats.winrate }}%</div>
                <div class="col-sm"><strong>Highscore (PvP): </strong> {{ stats.highscore }} ({{ stats.highscore_versus }})</div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="chalk-card p-3 h-100">
                <h4 class="text-center">Match history Solo</h4>
                <table class="table table-sm text-light table-borderless table-chalk w-100">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Letters</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if solos %}
                            {% for solo in solos %}
                            <tr class="game-row" data-id="{{solo.id}}">
                                <td>{{ solo.date }}</td>
                                <td>{{ solo.start }}___{{ solo.end }}</td>
                                <td>{{ solo.score }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="3">No Solo games played yet</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>    
        </div>
        <div class="col-md-6 mb-4">
            <div class="chalk-card p-3 h-100">
                <h4 class="text-center">Match histori 1v1:</h4>
                <table class="table table-sm text-light table-borderless table-chalk w-100">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Letters</th>
                            <th>Opponent</th>
                            <th>Your Score</th>
                            <th>Opponents Score</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if versus %}
                            {% for game in versus %}
                            <tr class="game-row2" data-match_id="{{game.match_id}}" data-user_id="{{game.user_id}}">
                                <td>{{ game.date }}</td>
                                <td>{{ game.start }}___{{ game.end }}</td>
                                <td>{{ game.opponent_username }}</td>
                                <td>{{ game.score }}</td>
                                <td>{{ game.opponent_score }}</td>
                                <td>{{ game.result }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="6">No PvP matches played yet</td>
                        </tr>    
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="chalk-card p-3 text-light text-center mb-4">
        <h4>Achievements</h4>
        <p>Used words: {{ stats.word_count }}/{{ stats.valid }}</p>
        <p>Dictionary completion: {{ stats.completion }}%</p>
    </div>

    <div id="summary" class="modal hidden">
        <div class="modal-content chalk-card text-light p-4">
            <h2>Summary</h2>
            <p class="fs-5"><span id="summary-start"></span>____<span id="summary-end"></span></p>
            <p><strong>Final score:</strong><span id="summary-score"></span></p>
            <p><strong>Guessed words:</strong></p>
            <ul id="summary-words"></ul>
            <button id="close" class="button-chalk mt-3">Close</button>
        </div>
    </div>

    <div id="summary-1v1" class="modal hidden">
        <div class="modal-content chalk-card text-light p-4">
            <h2 class="mb-3 text-center">Match Summary</h2>
            <h4 class="text-center mb-4" id="result"></h4>
            <p style="font-weight: bold"><span id="summary-start-1v1"></span>____<span id="summary-end-1v1"></span></p>
            <div class="row">
                <div class="col-md-6">
                    <h5>Your score: <span id="player-score"></span></h5>
                    <ul id="player-words"></ul>
                </div>
                <div class="col-md-6">
                    <h5>Opponent's score: <span id="opponent-score"></span></h5>
                    <ul id="opponent-words"></ul>
                </div>
            </div>
            <div class="text-center">       
                <button id="close-1v1" class="button-chalk mt-3">Close</button>
            </div> 
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".game-row").on("click", function () {
                const gameId = $(this).data("id");

                $.get(`/game/${gameId}`, function (data) {
                    $("#summary-start").text(data.start);
                    $("#summary-end").text(data.end);
                    $("#summary-score").text(data.score);
                    
                    $("#summary-words").empty();
                    for (let word of data.words) {
                        $("#summary-words").append(`<li>${ word }</li>`);
                    }
                
                    $("#summary").removeClass("hidden");
                });      
            });


            $("#close").on("click", function () {
                $("#summary").addClass("hidden");
            });

            $(".game-row2").on("click", function () {
                const matchId = $(this).data("match_id");
                const userId = $(this).data("user_id")

                $.get(`/match/${matchId}?viewer_id=${userId}`, function (data) {
                    $("#summary-start-1v1").text(data.start)
                    $("#summary-end-1v1").text(data.end)
                    $("#player-score").text(data.score)
                    $("#opponent-score").text(data.opponent_score)
                    
                    $("#player-words").empty();
                    for (let word of data.words) {
                        $("#player-words").append(`<li>${ word }</li>`)
                    }
                    
                    $("#opponent-words").empty();
                    for (let word of data.opponent_words) {
                        $("#opponent-words").append(`<li>${ word }</li>`)
                    }

                    if (data.score > data.opponent_score) {
                        $("#result").text("Win")
                    }
                    else if (data.score < data.opponent_score) {
                        $("#result").text("Loss")
                    }
                    else {
                        $("#result").text("Draw")
                    }

                    $("#summary-1v1").removeClass("hidden")
                });
            });

            $("#close-1v1").on("click", function () {
                $("#summary-1v1").addClass("hidden")
            });
        });
    </script>
{% endblock %}